* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.all-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    display: flex;
}

button {
    padding: 2rem;
}